$blue       = #6699cc
$navy       = #335799
$green      = #6accb2
$yellow     = #e1e6b3
$red        = #cc7066
$pink       = #e6b8b3

$olive      = #7f9c6c
$brown      = #9c896c
$darkblue   = #6c7f9c
$orange     = #cc8a66
$purple     = #d8b3e6
$lightblue  = #66a8cc
$lightgreen = #66ccac
$darkgreen = #339957
$darkbrown  = #605439
$burnt      = #603a39
$rose       = #e6b4b3
$dimblue    = #949a9e
$beige      = #e6d7b3

$offwhite   = #fbfbfb//#f7f8f8

$lightgrey  = #e9edec
$dimgrey    = #d7d5d2
$grey       = #4d4d4d
$midgrey    = #949a9e
$slategrey  = #51433e
$bluegrey   = #606c74
$darkgrey   = #443d3d
$offblack   = #333333//#f7f8f8
