@import "colors.styl"
.nl-Singular {
  color:$black;
  font-weight:500;
}
.nl-Quotation {
  border-bottom:1px solid $olive;
  font-weight:400;
  clear:both;
  // margin:1rem;
  // display:block;
  // text-decoration:underline;
}

.nl-Gerund {
  color:$orange
}
.nl-Comparative {
  color:$green;
}
.nl-Number {
  color:$blue;
}
